@model DirectorViewModel

@{
    ViewData["Title"] = "Details";
    var disable = Model.Movies.Any() ? "" : "disabled";
}
<div class="row">
    <div class="col-md-9">
        <div class="card">

            <div class="card-body">
                <h5 class="card-subtitle mb-3 muted"><strong>@Model.Director.Name</strong>'s Movies</h5>
                @if (Model.Director.Movies.Any())
                {
                    @(await Html.PartialAsync("_Movies.cshtml", Model.Director.Movies));
                }
                else
                {
                    <p class="text-center p-5">No content</p>
                }
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <form asp-action="AddMovie" method="post">
                    <input type="hidden" asp-for="@Model.DirectorID" />
                    <label class="control-label">Movie List</label>
                    <select class="form-control mb-3" asp-for="@Model.MovieID" asp-items="@Model.Movies">
                    </select>
                    <div class="btn-group btn-block btn-group-sm text-right" role="group" aria-label="Basic example">
                        
                        <input type="submit" value="Add Movie" class="btn btn-small btn-outline-primary" @disable />
                        <a class="btn btn-small btn-outline-secondary" asp-action="Index" asp-route-id="@Model.Director.ID">Return</a>
                    </div>
                </form>
            </div>
            <div class="card-footer bg-white">

            </div>
        </div>
        
    </div>
</div>
